/* Reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(103, 137, 166);
    color: #fff;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#hero {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.round-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #FFFD82;
}

.section {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #FFFD82;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 20px;
}

.project a, #contact a {
    text-decoration: none;
    color: #FFFD82;
    font-weight: bold;
    transition: color 0.3s;
    padding-right: 20px;
}

.project a:hover, #contact a:hover {
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
}
